<a target="_blank" rel="nofollow noopener"
  class="inline-flex items-center gap-[10px] py-2 px-[14px] rounded-lg bg-lime-500 dark:bg-dark-2 shadow-2 fixed bottom-8 left-4 sm:left-9 z-[999]"
  href="https://fantomproducts.in/">
  <span class="text-white font-medium text-base dark:text-dark-6">
    Made with
  </span>
  <span class="w-px h-4 block bg-white/30 dark:bg-dark-3"></span>
  <span class="flex items-center gap-2 text-white dark:text-dark-6">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-red-500" fill="currentColor" viewBox="0 0 24 24">
      <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
    </svg>
    AgroFly
  </span>
</a>