---
import Container from "../shared/Container.astro";
import FeatureCard from "../shared/FeatureCard.astro";
---

<section class="w-full">
  <Container>
    <div class="flex flex-col lg:flex-row gap-6 flex-wrap justify-center items-center">
      <!-- Cards container -->
      <!-- Card 1 -->
      <div
        class="flex items-center justify-between px-6 h-[175px] w-[450px] rounded-lg bg-lime-500 text-white cursor-pointer hover:scale-110 transition-transform duration-300"
      >
        <div class="flex items-center gap-4"> <!-- Added gap-4 for spacing -->
          <img 
            src="https://www.krishiviman.com/assets/images/krishi/protect.png" 
            alt="Protect" 
            class="ex_po w-16 h-16" 
          />
          <div class="flex flex-col items-start">
            <p class="text-base font-bold">Exposure Protection</p>
            <p class="text-sm">No Direct exposure to Chemicals</p>
          </div>
        </div>
      </div>

      <!--Card 2 -->
      <div
        class="flex items-center justify-between px-6 h-[175px] w-[450px] rounded-lg bg-lime-500 text-white cursor-pointer hover:scale-110 transition-transform duration-300"
      >
        <div class="flex items-center gap-4"> <!-- Added gap-4 for spacing -->
          <img 
            src="https://www.krishiviman.com/assets/images/krishi/growth.png" 
            alt="Growth" 
            class="ex_po w-16 h-16" 
          />
          <div class="flex flex-col items-start">
            <p class="text-base font-bold">8 to 15%</p>
            <p class="text-sm">Increase in Agri Productivity</p>
          </div>
        </div>
      </div>

      <div
      class="flex items-center justify-between px-6 h-[175px] w-[450px] rounded-lg bg-lime-500 text-white cursor-pointer hover:scale-110 transition-transform duration-300"
    >
      <div class="flex items-center gap-4"> <!-- Added gap-4 for spacing -->
        <img 
          src="https://www.krishiviman.com/assets/images/krishi/saving.png" alt="Saving" class="ex_po" 
          alt="Saving" 
          class="ex_po w-16 h-16" 
        />
        <div class="flex flex-col items-start">
          <p class="text-base font-bold">Rs 40000 to 60000 /PM</p>
          <p class="text-sm">Earning Opportunity for Drone Pillot</p>
        </div>
      </div>
    </div>
    <!-- <FeatureCard /> -->

