<!-- src/components/HeroSection.astro -->
---
import Navbar from "../Navbar.astro";
import VolacityAnnoucer from "../Announcement/VelocityAnnoucer.astro";

---

<section
  class="w-full min-h-[650x] bg-[#0F1A12] flex flex-col justify-start items-start overflow-hidden"
  aria-label="Hero Section"
>
 <!-- Navbar -->
<Navbar/>

  <!-- Hero Image with Text Overlay -->
  <div
    class="w-full py-5 bg-[#0F1A12] bg-opacity-20 bg-blend-overlay"
  >
    <div class="relative w-full h-[500px] sm:h-[400px] md:h-[480px] overflow-hidden bg-gradient-to-r from-black/10 to-black/40 bg-center bg-cover rounded-xl"
      style="background-image: url('/images/ladyinfied.jpg');"
    >

    <div class="absolute inset-0 flex items-end justify-center px-4 sm:px-10 md:px-40 pb-6">
      <p class="text-center text-lg sm:text-2xl md:text-4xl font-bold text-[#0F1A12] dark:text-white leading-relaxed max-w-3xl mx-auto bg-gradient-to-r from-lime-100 to-lime-300 px-4 py-2 rounded-md shadow-sm">
        Efficient, precise, and sustainable farming solutions.
      </p>
    </div>
    </div>
  </div>
  <VolacityAnnoucer/>
</section>
