---
import Container from "@/components/shared/Container.astro";
import BtnLink from "../components/shared/BtnLink.astro"
---
<section class="relative min-h-[750px] pt-32 pb-96 max-md:pb-24 bg-body">
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/97a4702f2834118378b4dea5d4574f8674a90fac8451c1e02016801a88fc51b7"
      alt="Background drone image"
      class="object-cover absolute inset-0 size-full brightness-[0.85] dark:opacity-50 opacity-25"
    />
    
    <Container>
      <div class="relative flex flex-col items-center text-center">
        <h1 class="text-6xl font-bold text-heading-1 dark:text-white">
          Representing Drone Light
        </h1>
        <p class="mt-6 text-lg font-light text-heading-2 dark:text-gray-200 max-w-3xl mx-auto">
          Look up the sky and beautiful world with simple navigation.<br />
          Just record and get a lot of memories to share, lightly and fast like lightning
        </p>
        <div class="mt-8">
            <BtnLink 
            text="Get Started" 
            href="#cta" 
            className="w-full lg:w-auto flex justify-center items-center gap-2 font-medium" 
            variant="primary"
        >
            Get Started
            <svg class="w-4 h-4" viewBox="0 0 24 24" fill="none">
                <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z" fill="currentColor"/>
            </svg>
        </BtnLink>
        </div>
      </div>
    </Container>
  </section>
