---
import "@/styles/globals.css";
import Hero from "../components/sections/Hero.astro";
import Layout from "../layouts/Layout.astro";
import AboutUs from "../components/sections/AboutUs.astro";
import Team from "../components/sections/Team.astro";


---

<Layout title="Welcome to AgroFly">
  <main class="flex flex-col overflow-hidden">
    <Hero />


    <AboutUs />
<Team/>
    <!-- <Brands/> -->
  </main>
</Layout>
