---
import "@/styles/globals.css";
import Hero from "../components/sections/Hero.astro";
import Layout from "../layouts/Layout.astro";
import AboutUs from "../components/sections/AboutUs.astro";

import WhyAgro from "../components/sections/WhyAgro.astro";
import UserTestomonial from "@/components/sections/UserTestomonial.astro";
---

<Layout title="Welcome to AgroFly">
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <Hero />
    <UserTestomonial />

    <WhyAgro />

    <AboutUs />

    <!-- <Brands/> -->
  </main>
</Layout>
