 <!-- Navbar -->
 <header
 class="w-full px-10 py-3 bg-[#0F1A12] rounded-sm border-2 border-[#03D47C] flex justify-between items-center"
>
 <!-- Logo -->
 <div class="flex items-center gap-4">
    <div
    class="w-4 h-4 rounded-sm bg-no-repeat bg-cover bg-center"
    style="background-image: url('/icons/agrofly-icon.png');"
  ></div>
   <h1 class="text-[#03D47C] font-bold text-lg font-sora">Agrofly.in</h1>
 </div>

 <!-- Navigation Links -->
 <nav class="flex items-center gap-8 text-white text-sm font-medium font-sora">
    <a href="#about-us" class="hover:underline">About</a>
    <a href="#team" class="hover:underline">Team</a>
    <a href="#how-it-work" class="hover:underline">How It Works</a>


   <!-- CTA Button -->
   <a
   href="#join"
   class="bg-[#E8F2ED] text-[#0F1A12] font-bold px-3 py-1.5 sm:px-4 sm:py-2 rounded-xl text-xs sm:text-sm hover:scale-105 transition"
 >
   Join Us
 </a>
 
 </nav>
</header>